html, body {
    background-color: #ecf0f1;
    font-family: "Sintony";
    font-size: 100%;
    height: 100%;
}

a {
    cursor: pointer;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
}

#game-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

#game .focused {
    z-index: 15;
}

#game .focused-plus {
    z-index: 20;
}

#header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
}

#header .score {
    font-size: 2em;
}

#header .action {
    width: 20%;
    text-align: left;
}

#header .duration {
    font-size: 0.8em;
    width: 20%;
    text-align: right;
}


#match {
    height: 100%;
    position: relative;
    top: 0;
}

#match .side {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

#match .side.side-right {
    left: 50%;
}

#match .side .seat {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
}

#match .side .seat.seat-bottom {
    top: 50%;
}

#match .side.side-left .seat.seat-top {
    padding: 4px 2px 2px 4px;
}

#match .side.side-left .seat.seat-bottom {
    padding: 2px 2px 4px 4px;
}

#match .side.side-right .seat.seat-top {
    padding: 4px 4px 2px 2px;
}

#match .side.side-right .seat.seat-bottom {
    padding: 2px 4px 4px 2px;
}

#match .side .seat > div {
    height: 100%;
    position: relative;
}

#match .side .seat .seat-picture {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 50% 50% no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
}

#match .side .seat .seat-layer {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

#match .side .seat .player-name {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 1.2em;
    margin-top: -1.2em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#match .side .seat .player-name big {
    font-weight: bold;
    display: block;
}

#match .side .seat .player-name small {
    display: block;
}

#match .side.side-red .seat .seat-layer {
    background: rgba(211, 0, 0, 0.5);
}

#match .side.side-blue .seat .seat-layer {
    background: rgba(41, 54, 148, 0.5);
}



#match .side-coach {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    text-align: center;
    background: #ecf0f1;
    border-radius: 100px;
    cursor: pointer;
}

#match .side-coach i {
    font-size: 20px;
    color: #222;
    line-height: 50px;
}

#match .button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

#match .button.white {
    background: white;
    color: black;
}

#match .button > * {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;
}

#match .button big {
    font-size: 40px;
    margin-top: -20px;
}

#match .button + div {
    display: none;
}

#match .player-list {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

#match .player-list.left {
    left: 0;
    padding: 4px 2px 4px 4px;
}

#match .player-list.right {
    right: 0;
    padding: 4px 4px 4px 2px;
}

#match .player-list > div {
    background: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#match .player-list a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #222;
    white-space: nowrap;
}


#match .the-end {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -60px;
    padding: 10px;
}

#match .the-end button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px;
}

@media (min-width: 768px) {
    .container {
        width: 500px !important;
        padding: 0;
    }

    #match .side,
    #match .player-list {
        max-height: 500px !important;
        top: 50%;
        margin-top: -50%;
    }
}

@media (max-width: 767px) {
    #match {
        padding: 0;
    }
}

#live { padding-top: 50px; }
#live h2 { text-align: center;}
#live .score {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
}
#live .player {
    margin: 20px 0; position: relative;
}
#live .player:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#live #blueside .player:after{
    background-color: rgba(97, 158, 232, 0.3);
}
#live #redside .player:after{
    background-color: rgba(229, 96, 96, 0.3);
}
#live .player h2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px;
    color: white;
    z-index: 1;
}
#live #redside .player h2 { background-color: rgb(229, 96, 96); }
#live #blueside .player h2 { background-color: rgb(97, 158, 232); }

#live .player h3 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(9,9,9, 0.6);
    padding-top: 40%;
    text-align: center;
    font-size: 30px;
    color: white;
}

