html, body {
    background-color: #ecf0f1;
    font-family: "Sintony";
    font-size: 100%;
    height: 100%;
}

a {
    cursor: pointer;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
}

#game-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

#game .focused {
    z-index: 15;
}

#game .focused-plus {
    z-index: 20;
}

#header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
}

#header .score {
    font-size: 2em;
}

#header .action {
    width: 20%;
    text-align: left;
}

#header .duration {
    font-size: 0.8em;
    width: 20%;
    text-align: right;
}


#match {
    height: 100%;
    position: relative;
    top: 0;
}




/* Grid system */

#match .grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

#match .grid .grid-cell {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    padding: 0 4px 4px 0;
}

#match .grid .grid-cell-right {
    left: auto;
    right: 0;
    padding-right: 0;
}

#match .grid .grid-cell-bottom {
    top: auto;
    bottom: 0;
    padding-bottom: 0;
}

#match .grid .grid-cell-body {
    position: relative;
    width: 100%;
    height: 100%;
}

#match .grid .grid-cell-colspan2 {
    width: 100%;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

#match .grid .grid-cell-rowspan2 {
    height: 100%;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#match .grid-btn {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

#match .grid-btn > * {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;
}

#match .grid-btn big {
    font-size: 40px;
    margin-top: -20px;
}

#match .grid-btn.grid-btn-white {
    background: white;
    color: black;
}

#match .grid-btn.grid-btn-red {
    background: #C00;
    color: white;
}



/* Player */

#match .player {
    position: relative;
    height: 100%;
}

#match .player .player-picture {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 50% 50% no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
}

#match .player .player-layer {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

#match .player .player-name {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 1.2em;
    margin-top: -1.2em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#match .player .player-name big {
    font-weight: bold;
    display: block;
}

#match .player .player-name small {
    display: block;
}

#match .player.player-red .player-layer {
    background: rgba(211, 0, 0, 0.5);
}

#match .player.player-blue .player-layer {
    background: rgba(41, 54, 148, 0.5);
}



/* Coach button */

#match .coach-btn {
    position: absolute;
    top: 50%;
    left: 25%;
    height: 50px;
    width: 50px;
    margin: -27px 0 0 -27px;
    text-align: center;
    background: #ecf0f1;
    border-radius: 100px;
    cursor: pointer;
}

#match .coach-btn-right {
    left: 75%;
}

#match .coach-btn i {
    font-size: 20px;
    color: #222;
    line-height: 50px;
}



/* Player list */

#match .player-list {
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#match .player-list a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #222;
    white-space: nowrap;
}



/* End buttons */

#match .the-end {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -60px;
    padding: 10px;
}

#match .the-end button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px;
}


/* Responsive case */

@media (min-width: 768px) {
    #game .container {
        width: 500px !important;
        padding: 0;
    }

    #match .grid {
        max-height: 500px;
        top: 50%;
        margin-top: -50%;
    }
}

@media (max-width: 767px) {
    #match {
        padding: 0;
    }
}








#live { padding-top: 50px; }
#live h2 { text-align: center;}
#live .score {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
}
#live .player {
    margin: 20px 0; position: relative;
}
#live .player:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#live #blueside .player:after{
    background-color: rgba(97, 158, 232, 0.3);
}
#live #redside .player:after{
    background-color: rgba(229, 96, 96, 0.3);
}
#live .player h2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px;
    color: white;
    z-index: 1;
}
#live #redside .player h2 { background-color: rgb(229, 96, 96); }
#live #blueside .player h2 { background-color: rgb(97, 158, 232); }

#live .player h3 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(9,9,9, 0.6);
    padding-top: 40%;
    text-align: center;
    font-size: 30px;
    color: white;
}





/* Stats */

#stats {
    padding-top: 50px;
}

#stats table .score {
    width: 60px;
    text-align: center;
    white-space: nowrap;
}

#stats table .score a {
    display: inline-block;
    color: #000;
    font-weight: normal;
    width: 25px;
}

#stats table .score a.score-10 {
    font-weight: bold;
}

#stats table .team {
    width: 50%;
}

#stats table .team.blue {
    text-align: right;
}

#stats table .team a {
    display: inline-block;
    width: 49%;
    max-width: 180px;
    text-decoration: none;
}

#stats table .team.blue a {
    text-align: right;
}

#stats .player .player-header {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

#stats .player .player-header .player-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: 50% 50% no-repeat;
    background-size: cover;
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);*/
}

#stats .player .player-header .player-title {
    position: relative;
    padding: 100px 0 0;
}

#stats .player .player-header .player-title h1 {
    display: inline-block;
    font-size: 50px;
    letter-spacing: -2px;
    color: white;
    vertical-align: bottom;
    margin: 0 0 0 20px;
    text-shadow: -1px 1px 0 rgba(0,0,0,0.2);
}

#stats .player .player-header .player-title img {
    box-shadow: -1px 1px 0 rgba(0,0,0,0.2), 1px -1px 0 rgba(0,0,0,0.2);
    border: 5px solid white;
}
