<div  ng-class="{ 'focused-plus': !focusedSeat }">
    <!-- On left -->
    <div class="action pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="switchSidesOnView()">
                        <i class="glyphicon glyphicon-transfer"></i> &nbsp; Switch sides
                    </a>
                </li>
                <li class="divider" ng-show="table.sides[0].score || table.sides[1].score"></li>
                <li ng-show="table.sides[0].score || table.sides[1].score">
                    <a class="cancel-last-goal" ng-click="cancelGoal()">
                        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; Cancel last goal
                    </a>
                </li>
                <li class="divider" ng-show="gameStarted"></li>
                <li ng-show="gameStarted">
                    <a ng-click="cancelGame()">
                        <i class="glyphicon glyphicon-minus-sign"></i> &nbsp; Cancel match
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- On right -->
    <div class="duration pull-right">
        <span ng-show="gameStarted">{{ duration | prettyTime }}</span>&nbsp;
    </div>

    <!-- On middle -->
    <div class="score" ng-show="gameStarted">
        <strong>{{ table.sides[0].position == 'left' ? table.sides[0].score : table.sides[1].score }}</strong>
        <span>-</span>
        <strong>{{ table.sides[0].position == 'right' ? table.sides[0].score : table.sides[1].score }}</strong>
    </div>
    <div id="actionStart" ng-show="!gameStarted && nbPlayers == 4">
        <button class="btn navbar-btn btn-success" ng-click="startGame()">Start</button>
    </div>
    <div ng-show="!gameStarted && nbPlayers < 4">
        Team composition
    </div>
</div>
