<div class="container">
    <div class="page-header">
        <h1>Players List</h1>
    </div>

    <div class="row">
        <div class="table-responsive" ng-hide="menuSelect">

            <table id="lastgames" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gravatar</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players | orderBy:'name'">
                        <td>
                            <a ng-href="#/admin/players/{{ player.id }}">
                                {{ player.name }}
                            </a>
                        </td>
                        <td>

                            {{ player.email }}
                        </td>
                        <td>
                            <img gravatar-src="player.email || ''"  gravatar-size="30" />
                        </td>
                        <td>
                            <a ng-href="#/admin/players/{{ player.id }}" class="btn btn-primary">Edit</a>
                            <a ng-click="deletePlayer(player)" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
