<div class="container">
    <div class="page-header">
        <h1>Game details</h1>
        Duration : {{ games.duration_mn }}<br />
        Played at : {{ games.started_at }}<br />
        Finished at : {{ games.ended_at }}
    </div>

    <table class="table table-hover table-condensed tableGame">
        <thead>
            <tr>
                <th>Red Team</th>
                <th class="text-center">Score</th>
                <th class="text-right">Blue Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="team red">
                    <a ng-href="/#/stats/players/{{ stats.playersList[games.redDefense].id }}">
                        <img gravatar-src="stats.playersList[games.redDefense].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                        {{ stats.playersList[games.redDefense].name }}
                    </a>
                    <a ng-href="/#/stats/players/{{ stats.playersList[games.redAttack].id }}">
                        <img gravatar-src="stats.playersList[games.redAttack].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                        {{ stats.playersList[games.redAttack].name }}
                    </a>
                </td>
                <td class="score">
                    <a ng-href="/#/stats/games/{{ games.id }}" class="score-{{ games.red_score }}">{{ games.red_score }}</a>
                    <span>:</span>
                    <a ng-href="/#/stats/games/{{ games.id }}" class="score-{{ games.blue_score }}">{{ games.blue_score }}</a>
                </td>
                <td class="team blue">
                    <a ng-href="/#/stats/players/{{ stats.playersList[games.blueDefense].id }}">
                        {{ stats.playersList[games.blueDefense].name }}
                        <img gravatar-src="stats.playersList[games.blueDefense].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                    </a>
                    <a ng-href="/#/stats/players/{{ stats.playersList[games.blueAttack].id }}">
                        {{ stats.playersList[games.blueAttack].name }}
                        <img gravatar-src="stats.playersList[games.blueAttack].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="team red">
                    <i class="fa fa-trophy" title="Elo Ranking"></i> {{ games.redEloTeam }}
                    ({{ games.redEloWins }})
                </td>
                <td>&nbsp;</td>
                <td class="team blue">
                    <i class="fa fa-trophy" title="Elo Ranking"></i> {{ games.blueEloTeam }}
                    ({{ games.blueEloWins }})
                </td>
            </tr>
            <tr>
                <td class="team red">
                    <i class="fa fa-crosshairs" title="Attacker Goal"></i> {{ games.goalPosition.red.attack }}&nbsp;
                    <i class="fa fa-shield" title="Defender Goal"></i> {{ games.goalPosition.red.defense }}&nbsp;
                    <i class="fa fa-ambulance" title="Own Goal"></i> {{ games.goalPosition.red.owngoal }}
                </td>
                <td>&nbsp;</td>
                <td class="team blue">
                    <i class="fa fa-crosshairs" title="Attacker Goal"></i> {{ games.goalPosition.blue.attack }}&nbsp;
                    <i class="fa fa-shield" title="Defender Goal"></i> {{ games.goalPosition.blue.defense }}&nbsp;
                    <i class="fa fa-ambulance" title="Own Goal"></i> {{ games.goalPosition.blue.owngoal }}
                </td>
            </tr>
            <tr>
                <td class="team red">
                    {{ stats.playersList[games.redDefense].name }} Goal:
                    <i class="fa fa-crosshairs" title="Attacker Goal" ng-show="games.goalPlayers[games.redDefense].attack"> {{ games.goalPlayers[games.redDefense].attack }}&nbsp;</i>
                    <i class="fa fa-shield" title="Defender Goal" ng-show="games.goalPlayers[games.redDefense].defense"> {{ games.goalPlayers[games.redDefense].defense }}&nbsp;</i>
                    <i class="fa fa-ambulance" title="Own Goal" ng-show="games.goalPlayers[games.redDefense].owngoal"> {{ games.goalPlayers[games.redDefense].owngoal }}</i>
                </td>
                <td>&nbsp;</td>
                <td class="team blue">
                    {{ stats.playersList[games.blueDefense].name }} Goal:
                    <i class="fa fa-crosshairs" title="Attacker Goal" ng-show="games.goalPlayers[games.blueDefense].attack"> {{ games.goalPlayers[games.blueDefense].attack }}&nbsp;</i>
                    <i class="fa fa-shield" title="Defender Goal" ng-show="games.goalPlayers[games.blueDefense].defense"> {{ games.goalPlayers[games.blueDefense].defense }}&nbsp;</i>
                    <i class="fa fa-ambulance" title="Own Goal" ng-show="games.goalPlayers[games.blueDefense].owngoal"> {{ games.goalPlayers[games.blueDefense].owngoal }}</i>
                </td>
            </tr>
            <tr>
                <td class="team red">
                    {{ stats.playersList[games.redAttack].name }} Goal:
                    <i class="fa fa-crosshairs" title="Attacker Goal" ng-show="games.goalPlayers[games.redAttack].attack"> {{ games.goalPlayers[games.redAttack].attack }}&nbsp;</i>
                    <i class="fa fa-shield" title="Defender Goal" ng-show="games.goalPlayers[games.redAttack].defense"> {{ games.goalPlayers[games.redAttack].defense }}&nbsp;</i>
                    <i class="fa fa-ambulance" title="Own Goal" ng-show="games.goalPlayers[games.redAttack].owngoal"> {{ games.goalPlayers[games.redAttack].owngoal }}</i>
                </td>
                <td>&nbsp;</td>
                <td class="team blue">
                    {{ stats.playersList[games.blueAttack].name }} Goal:
                    <i class="fa fa-crosshairs" title="Attacker Goal" ng-show="games.goalPlayers[games.blueAttack].attack"> {{ games.goalPlayers[games.blueAttack].attack }}&nbsp;</i>
                    <i class="fa fa-shield" title="Defender Goal" ng-show="games.goalPlayers[games.blueAttack].defense"> {{ games.goalPlayers[games.blueAttack].defense }}&nbsp;</i>
                    <i class="fa fa-ambulance" title="Own Goal" ng-show="games.goalPlayers[games.blueAttack].owngoal"> {{ games.goalPlayers[games.blueAttack].owngoal }}</i>
                </td>
            </tr>
        </tfoot>
    </table>

    <div d3-timeline data="games"></div>
</div>
