<div class="player">
    <div class="player-header">
        <div class="player-bg" style="background-image: url({{ stats.playersList[selectedPlayer].email | gravatarize:500 }})"></div>

        <div class="container">
            <div class="player-title">
                <img gravatar-src="stats.playersList[selectedPlayer].email || ''" gravatar-default="wavatar" gravatar-size="150" />
                <h1>{{ stats.playersList[selectedPlayer].name }}</h1>
            </div>
        </div>
    </div>

    <div class="player-body container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Stats</h2>
                </div>

                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr ng-repeat="stat in stats.statsType">
                            <td>
                                {{ (stat.text ? stat.text : stat.name) }}
                            </td>
                            <td class="text-right">
                                {{ stats.statsPlayers[selectedPlayer][stat.name] }}{{ stat.addSuffix }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Game Series
                            </td>
                            <td class="text-right">
                                <span ng-repeat="serie in stats.statsPlayers[selectedPlayer].gameSeries | limitTo:5 track by $index">
                                    {{ $index>0 ? '/':'' }} {{ serie }}
                                </span>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-include src="'/views/partial/statsTeams.html'" class="table-responsive container">
    </div>

    <div ng-include src="'/views/partial/statsLastGames.html'" class="container">
    </div>
</div>