            <div class="page-header">
                <h1>Last Games</h1> 
            </div>

            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Red Team</th>
                        <th class="text-center">Score</th>
                        <th class="text-right">Blue Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="games in gamesList | limitTo:(selectedPlayer ? 100 : 25) | withPlayerInTeam: selectedPlayer">
                        <td class="team red">
                            <a ng-click="selectPlayer(games.redDefense)">
                                <img gravatar-src="playersList[games.redDefense].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                                {{ playersList[games.redDefense].name }}
                            </a>
                            <a ng-click="selectPlayer(games.redAttack)">
                                <img gravatar-src="playersList[games.redAttack].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                                {{ playersList[games.redAttack].name }}
                            </a>
                        </td>
                        <td class="score">
                            <b class="score-{{ games.red_score }}">{{ games.red_score }}</b>
                            <span>:</span>
                            <b class="score-{{ games.blue_score }}">{{ games.blue_score }}</b>
                        </td>
                        <td class="team blue">
                            <a ng-click="selectPlayer(games.blueDefense)">
                                {{ playersList[games.blueDefense].name }}
                                <img gravatar-src="playersList[games.blueDefense].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                            </a>
                            <a ng-click="selectPlayer(games.blueAttack)">
                                {{ playersList[games.blueAttack].name }}
                                <img gravatar-src="playersList[games.blueAttack].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                            </a>
                        </td>                   
                    </tr>
                </tbody>
            </table>