            <div class="page-header">
                <h1>Players Stats</h1>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click='setTableHide(false)'>All stats</button>
                <button type="button" class="btn btn-default" ng-repeat="stat in stats.statsType" ng-click='getFilteredStat(stat.name)'>{{ (stat.text ? stat.text : stat.name) }}</button>
            </div>
            <br /><br />
            <div d3-bars data="stats.statsPlayersFiltered" type='players' bar-height="20" bar-padding="5" ng-show="tableHide"></div>

            <table class="table table-hover table-condensed" ng-hide="tableHide">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="setPredicate('name'); doReverse()">Name</a>
                        </th>
                        <th ng-repeat="stat in stats.statsType" class="text-right">
                            <a href="" ng-click="setPredicate(stat.name); doReverse()">
                                {{ (stat.text ? stat.text : stat.name) }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in stats.statsPlayers | orderBy:predicate:reverse | minGamePlayed:stats.minGamePlayedPlayers">
                        <td>
                            <img gravatar-src="stats.playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                            <a ng-href="/#/stats/players/{{ player.id }}">{{ player.name }}</a>
                        </td>
                        <td ng-repeat="stat in stats.statsType" class="text-right">
                            {{ player[stat.name] }}{{ stat.addSuffix }}
                        </td>
                    </tr>
                </tbody>
            </table>
