<div class="container">

    <div class="page-header">
        <h1>Overview</h1>
    </div>

    <div class="row">    
        <div ng-repeat="player in stats.statsPlayers | orderBy:'percentGoalPerBall':true| minGamePlayed:stats.minGamePlayedPlayers | limitTo:1" class="col-xs-6 col-sm-3 placeholder">
            <a ng-href="/#/stats/players/{{ player.id }}">
                <img gravatar-src="stats.playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="200" />
            </a>
            <h4>Top Goaler</h4>
            <span class="text-muted">{{ player.name }} ({{ stats.statsPlayers[player.id].percentGoalPerBall }}%)</span>
        </div>
        <div ng-repeat="player in stats.statsPlayers | orderBy:'percentVictory':true| minGamePlayed:stats.minGamePlayedPlayers | limitTo:1" class="col-xs-6 col-sm-3 placeholder">
            <a ng-href="/#/stats/players/{{ player.id }}">
                <img gravatar-src="stats.playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="200" />
            </a>
            <h4>Top Victory</h4>
            <span class="text-muted">{{ player.name }} ({{ stats.statsPlayers[player.id].percentVictory }}%)</span>
        </div>
        <div ng-repeat="player in stats.statsPlayers | orderBy:'owngoal':true| minGamePlayed:stats.minGamePlayedPlayers | limitTo:1" class="col-xs-6 col-sm-3 placeholder">
            <a ng-href="/#/stats/players/{{ player.id }}">
                <img gravatar-src="stats.playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="200" />
            </a>
            <h4>Top Own Goal</h4>
            <span class="text-muted">{{ player.name }} ({{ stats.statsPlayers[player.id].owngoal }})</span>
        </div>
        <div ng-repeat="player in stats.statsPlayers | orderBy:'percentLoose':true| minGamePlayed:stats.minGamePlayedPlayers | limitTo:1" class="col-xs-6 col-sm-3 placeholder">
            <a ng-href="/#/stats/players/{{ player.id }}">
                <img gravatar-src="stats.playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="200" />
            </a>
            <h4>Top Looser</h4>
            <span class="text-muted">{{ player.name }} ({{ stats.statsPlayers[player.id].percentLoose }}%)</span>
        </div>
    </div>
</div>
