            <div class="page-header">
                <h1>Players Stats</h1>  
            </div>

            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="setPredicate('name'); setReverse()">Name</a>
                        </th>
                        <th ng-repeat="stat in statsType" class="text-right">
                            <a href="" ng-click="setPredicate(stat.name); setReverse()">
                                {{ (stat.text ? stat.text : stat.name) }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in statsPlayers | orderBy:predicate:reverse | minGamePlayed:5">
                        <td>
                            <img gravatar-src="playersList[player.id].email || ''" gravatar-default="wavatar" gravatar-size="30" />
                            <a ng-click="selectPlayer(player.id)">{{ player.name }}</a>
                        </td>
                        <td ng-repeat="stat in statsType" class="text-right">
                            {{ player[stat.name] }}{{ stat.addSuffix }}
                        </td>
                    </tr>
                </tbody>
            </table>