<div id="live">
        <div id="header">
        <div class="container">
            <div class="text-center pull-right">
                Available games :
                <select ng-model="currentGameId" ng-options="c for c in currentGamesIds">
                </select> <a ng-click="refreshAvailableGames()">(refresh)</a>
            </div>
            <div>
                Babitch Live
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1" id="redside">
            <div class="player" ng-repeat="player in [redDefender]" ng-include="'/views/partial/player.html'"></div>
            <div class="player" ng-repeat="player in [redAttacker]" ng-include="'/views/partial/player.html'"></div>
        </div>
        <div class="col-sm-4">
            <div class="score">
                <strong>{{ game.red_score }}</strong> : <strong>{{ game.blue_score }}</strong>
            </div>
        </div>
        <div class="col-sm-3" id="blueside">
            <div class="player" ng-repeat="player in [blueAttacker]" ng-include="'/views/partial/player.html'"></div>
            <div class="player" ng-repeat="player in [blueDefender]" ng-include="'/views/partial/player.html'"></div>
        </div>
    </div>

</div>
