<div id="live">
    <div id="header">
        <div class="container">
            <div class="brand pull-left">
                <big>Babitch</big><small>live</small>
            </div>
        </div>
    </div>
    <div class="table container" ng-show="game">
        <div class="seat {{ seat.position }} {{ seat.team }}" ng-repeat="seat in game.player">
            <div class="player" ng-include="'/views/partial/player.html'"></div>
        </div>

        <div class="score">
            <strong>{{ game.red_score }}</strong>
            <small>:</small>
            <strong>{{ game.blue_score }}</strong>
        </div>
    </div>
</div>
