<div id="stats">
	<h1>Last Game</h1>
	<ul id="lastMatch">
		<li ng-repeat="games in gamesList">
			<a ng-href="#/stats/{{ games.composition[0].player_id }}">
				{{ playersList[games.composition[0].player_id].name }}
			</a> - 
			<a ng-href="#/stats/{{ games.composition[2].player_id }}">
				{{ playersList[games.composition[2].player_id].name }}
			</a>
			<span class="badge">{{ games.red_score }}</span> / <span class="badge">{{ games.blue_score }}</span>
			<a ng-href="#/stats/{{ games.composition[1].player_id }}">
				{{ playersList[games.composition[1].player_id].name }}
			</a> - 
			<a ng-href="#/stats/{{ games.composition[3].player_id }}">
				{{ playersList[games.composition[3].player_id].name }}
			</a> 
		</li>
	</ul>

	<br />
	
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr>
					<th><a href="" ng-click="setPredicate('name'); setReverse()">Name</a></th>
					<th ng-repeat="stat in statsType"><a href="" ng-click="setPredicate(stat); setReverse()">{{ stat }}</a></th>
				</tr>
				<tr ng-repeat="player in statsGoals | orderBy:predicate:reverse | minGamePlayed:5">
					<td>{{ player.name }}</td>

					<td ng-repeat="stat in statsType">{{ player[stat] }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>