<div id="stats-player">
	<div class="player">
		<img gravatar-src="playersList[selectPlayerId].email" class="img-responsive">
		<h2>{{ playersList[selectPlayerId].name }}</h2>
	</div>
	<br />

	<ul id="players">
		<li ng-repeat="stat in statsType">{{ stat }}: <span class="badge">{{ statsGoals[selectPlayerId][stat] }}</span></li>
	</ul>
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr>
					<th><a href="" ng-click="setPredicate('name'); setReverse()">Name</a></th>
					<th ng-repeat="stat in statsType"><a href="" ng-click="setPredicate(stat); setReverse()">{{ stat }}</a></th>
				</tr>
				<tr ng-repeat="player in statsGoals | orderBy:predicate:reverse | minGamePlayed:5">
					<td>{{ player.name }}</td>

					<td ng-repeat="stat in statsType">{{ player[stat] }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>