<div id="stats-player">
	<div class="player">
		<img gravatar-src="playersList[selectPlayerId].email" class="img-responsive">
		<h2>{{ playersList[selectPlayerId].name }}</h2>
	</div>
	<br />
	
	<ul id="players">
		<li>Goals: <span class="badge">{{ statsGoals[selectPlayerId].goal }}</span></li>
		<li>Autogoals: <span class="badge">{{ statsGoals[selectPlayerId].autogoal }}</span></li>
		<li>GoalsAttack: <span class="badge">{{ statsGoals[selectPlayerId].goalAttack }}</span></li>
		<li>GoalsDefense: <span class="badge">{{ statsGoals[selectPlayerId].goalDefense }}</span></li>
		<li>Victory: <span class="badge">{{ statsGoals[selectPlayerId].victory }}</span></li>
		<li>Loose: <span class="badge">{{ statsGoals[selectPlayerId].loose }}</span></li>
		<li>GamePlayed: <span class="badge">{{ statsGoals[selectPlayerId].gamePlayed }}</span></li>
		<li>TeamGoalaverage: <span class="badge">{{ statsGoals[selectPlayerId].teamGoalaverage }}</span></li>
	</ul>
</div>